@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --primary-color: #00a896;
  --secondary-color: #05668d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: #f4f4f4;
  font-family: "Open Sans", sans-serif;
}

.current {
  background: var(--primary-color);
}

#navbar ul {
  list-style: none;
}

#navbar ul li {
  color: #333;
  display: inline-block;
  padding: 1rem;
  position: relative;
}

#navbar ul li a {
  color: #333;
  text-decoration: none;
}

/* Hide nested ul by default */
#navbar ul li ul {
  display: none;
}

#navbar ul li:hover {
  cursor: pointer;
  background: var(--primary-color);
  color: #f4f4f4;
}

#navbar ul li:hover a {
  color: #f4f4f4;
}

/* Nested dropdown show */
#navbar ul li:hover ul {
  display: block;
  width: 200px;
  position: absolute;
  left: 0;
  margin-top: 1rem;
}

#navbar ul li:hover ul li {
  display: block;
  background: #e7e7e7;
}

#navbar ul li:hover ul li a {
  color: #333;
}

#navbar ul li:hover ul li:hover {
  background: #e0e0e0;
  color: inherit;
}
#navbar ul li:hover ul li span {
  float: right;
  font-size: 0.8rem;
  color: #fff;
  text-align: center;
  background: var(--primary-color);
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
}

#navbar ul li:hover ul li:hover span {
  background: var(--secondary-color);
}

#showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--primary-color);
  height: 300px;
  flex-direction: column;
  padding: 0 2rem;
}

#showcase h1 {
  color: #fff;
  font-size: 4rem;
}
